In [4]:
import pandas as pd
import numpy as np
import funcs

#dir_dba = r'E:\MEGA\PMMG\MySql\10 - Tbl_dimensao\pdca\tbl_base_PDCA_2020.xls'#Home
dir_dba = r'C:\Users\Geo\Documents\MEGAsync\MySql\10 - Tbl_dimensao\pdca\tbl_base_PDCA_2020.xls'#Office
df_ocorrencias = pd.read_excel(dir_dba, sheet_name='tbl_ocorrencias')
print("Arquivos Lidos com sucesso!!!...")

#Aprimoramentos:
# fazer um FOR  que leia cada sheet do arquivo

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Arquivos Lidos com sucesso!!!...

In [6]:
for df in [df_ocorrencias]:
    df.columns = df.columns.str.replace(' ', '_')
    df.columns = df.columns.str.upper()
df_ocorrencias.columns

Index(['NÚMERO_REDS', 'ÓRGÃO_UNIDADE_REGISTRO', 'UNIDADE_ÁREA_MILITAR',
       'UNIDADE_RELATO_NÍVEL_6', 'UNID_DIGITAÇÃO_NÍVEL_6',
       'UNID_REGISTRO_NÍVEL_6', 'CÓDIGO_SUBCLASSE_NAT_PRINCIPAL',
       'TENTADO/CONSUMADO_NAT_PRINCIPAL', 'CÓDIGO_SUBCLASSE_NAT_SEC1',
       'TENTADO/CONSUMADO_NAT_SEC1', 'CÓDIGO_SUBCLASSE_NAT_SEC2',
       'TENTADO/CONSUMADO_NAT_SEC2', 'CÓDIGO_SUBCLASSE_NAT_SEC3',
       'TENTADO/CONSUMADO_NAT_SEC3', 'ALVO', 'DESCRIÇÃO_MEIO_UTILIZADO',
       'DATA_COMUNICAÇÃO_FATO', 'HORÁRIO_COMUNICAÇÃO_FATO', 'DATA_FATO',
       'HORÁRIO_FATO', 'DATA_HORA_INCLUSÃO_REDS', 'DATA_HORA_FECHAMENTO_REDS',
       'DATA_ÚLTIMA_ATUALIZAÇÃO', 'LOGRADOURO_OCORRÊNCIA_-_TIPO',
       'LOGRADOURO_OCORRÊNCIA', 'LOGRADOURO_OCORRÊNCIA_NÃO_CADASTRADO',
       'LOGRADOURO_CRUZAMENTO', 'LOGRADOURO_CRUZAMENTO_NÃO_CADASTRADO',
       'NÚMERO_LOGRADOURO', 'BAIRRO', 'BAIRRO_NÃO_CADASTRADO',
       'COMPLEMENTO_ENDEREÇO', 'PONTO_DE_REFERÊNCIA', 'MUNICÍPIO', 'LATITUDE',
       'LONGITUDE', 'MATRÍCULA_DIGITADOR', 'MATRÍCULA_RELATOR', 'TIPO_VIATURA',
       'NÚMERO_REGISTRO_VIATURA', 'QTDE_OCORRÊNCIAS'],
      dtype='object')

In [39]:
# def class_diao(row):
#     nat = row['CÓDIGO_SUBCLASSE_NAT_PRINCIPAL']
#     if nat == ('B01121'):
#         return 'HOMICIDIO'
#     elif nat  == ('C01155'):
#         return 'FURTO'
#     elif nat == ('C01157'):
#         return 'ROUBO' 
#     else:
#         return 'OUTRAS'
# df_envolvidos['DIAO'] = df_envolvidos.apply(lambda row: class_diao(row), axis=1)

In [55]:
nats = ('D01213','D01213')
prisao_apreensao = ('FLAGRANTE DE ATO INFRACIONAL', 'FLAGRANTE DE CRIME / CONTRAVENCAO','MANDADO JUDICIAL','OUTRAS - PRISAO / APREENSAO', 'RECAPTURA')
is_tcaf = [
            (df_envolvidos ['CÓDIGO_SUBCLASSE_NAT_PRINCIPAL'].isin(nats)) &
            (df_envolvidos ['PRISÃO_/_APREENSÃO']==(prisao_apreensao))
           ]

df_envolvidos['PRESOS_ESTUPRO'] = np.select(is_tcaf, [1], default=0)

In [7]:
pd.pivot_table(df_ocorrencias,
               index=['NÚMERO_REDS'], 
               values=['QTDE_OCORRÊNCIAS'], 
               #columns=['MES'],
               fill_value=0,
               aggfunc=np.sum, 
               #margins=True, 
               #margins_name='Total Geral',
               #observed = True     

              ).reset_index()

             NÚMERO_REDS  QTDE_OCORRÊNCIAS
0     2020-005344138-001                 1
1     2020-015129934-002                 1
2     2020-016271506-001                 1
3     2020-019637565-001                 1
4     2020-026146770-002                 1
...                  ...               ...
6794  2020-036436600-001                 1
6795  2020-036441790-001                 1
6796  2020-036442899-001                 1
6797  2020-036445379-001                 1
6798  2020-036449850-001                 1

[6799 rows x 2 columns]