In [2]:
%run -i funcs.py
import pandas  as pd
# import funcs
# from funcs import var

In [3]:
df_ocorrencias,df_armas_fgo,df_envolvidos,df_veiculos,df_materiais,df_infracoes,df_integrantes = read_sheets()
columns()
df_integrantes.columns

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

Index(['NÚMERO_REDS', 'MUNICÍPIO', 'DATA_FATO',
       'CARGO_INTEGRANTE_-_DATA_DO_FATO', 'NOME_INTEGRANTE',
       'MATRÍCULA_INTEGRANTE', 'UNIDADE_INTEGRANTE_NÍVEL_6',
       'QTDE_INTEGRANTES_GUARNIÇÃO'],
      dtype='object')

In [4]:
df_integrantes[['NÚMERO_REDS', 'QTDE_INTEGRANTES_GUARNIÇÃO']]

              NÚMERO_REDS  QTDE_INTEGRANTES_GUARNIÇÃO
0      2020-005344138-001                           1
1      2020-005344138-001                           1
2      2020-016271506-001                           1
3      2020-016271506-001                           1
4      2020-016271506-001                           1
...                   ...                         ...
15259  2020-036442899-001                           1
15260  2020-036445379-001                           1
15261  2020-036445379-001                           1
15262  2020-036449850-001                           1
15263  2020-036449850-001                           1

[15264 rows x 2 columns]

In [8]:
df_integrantes = pd.pivot_table(df_integrantes,
               index=['NÚMERO_REDS'], 
               values='QTDE_INTEGRANTES_GUARNIÇÃO', 
               #columns=['PRISOES'],
               fill_value=0,
               aggfunc=np.sum, 
               #margins=True, 
               #margins_name='Total Geral',
               #observed = True     

              ).reset_index()
#df_integrantes.set_index('NÚMERO_REDS', inplace=True)
df_integrantes

             NÚMERO_REDS  QTDE_INTEGRANTES_GUARNIÇÃO
0     2020-005344138-001                           2
1     2020-016271506-001                           3
2     2020-019637565-001                           7
3     2020-026146770-002                           3
4     2020-029764653-002                           2
...                  ...                         ...
6531  2020-036436600-001                           6
6532  2020-036441790-001                           4
6533  2020-036442899-001                           2
6534  2020-036445379-001                           2
6535  2020-036449850-001                           2

[6536 rows x 2 columns]