In [2]:
%run -i funcs.py
import pandas  as pd
# import funcs
# from funcs import var

In [3]:
df_ocorrencias,df_armas_fgo,df_envolvidos,df_veiculos,df_materiais,df_infracoes,df_integrantes = read_sheets()
columns()
df_infracoes.columns

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

Index(['NÚMERO_REDS', 'DATA_FATO', 'MUNICÍPIO', 'CÓDIGO_DA_INFRAÇÃO',
       'AIT/_AINA_-_NÚMERO_DOCUMENTO',
       'AIT/AINA_-_ÓRGÃO_ORIGEM_-AUTORIDADE_RESPONSÁVEL', 'QTDE_INFRAÇÕES'],
      dtype='object')

In [4]:
pd.pivot_table(df_infracoes,
               index=['NÚMERO_REDS'], 
               values='QTDE_INFRAÇÕES', 
               #columns=['PRISOES'],
               fill_value=0,
               aggfunc=np.sum, 
               #margins=True, 
               #margins_name='Total Geral',
               #observed = True     

              ).reset_index()

             NÚMERO_REDS  QTDE_INFRAÇÕES
0     2020-031445121-001               1
1     2020-031445238-001               1
2     2020-031445620-001               3
3     2020-031450782-001               1
4     2020-031454869-001               1
...                  ...             ...
1029  2020-036334043-001               1
1030  2020-036336986-001               1
1031  2020-036367660-001               1
1032  2020-036402793-001               1
1033  2020-036407820-001               1

[1034 rows x 2 columns]